html, body {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  min-width: 100%;
}

canvas {
    z-index: -1;

}

#exampleInputEmail1 {
margin-bottom: 20px;
}

.darkSection {
   background-color: #302D2A;
   padding-top: 100px;
   padding-bottom: 120px;

}

.lightSection1 {
   background-color: #F7F7F7;
   padding-top: 100px;
   padding-bottom: 120px;

}

.h1Light {
  color:white;
  font-size: 71px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  padding-bottom: 35px;

}

.h1Dark {
  color:black;
  font-size: 71px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  padding-bottom: 35px;
}

.text1Light {
  font-size: 18px;
  color:white;
  font-family: roboto;
  text-align: center;
  width: 700px;
  margin-left:auto;
  margin-right:auto;
  line-height: 25px;

}

.text1Dark {
  font-size: 18px;
  color:#000000;
  font-family: roboto;
  text-align: center;
  width: 710px;
  margin-left:auto;
  margin-right:auto;
  line-height: 25px;
}


.buttonContainer{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.mainText{
  text-align: center;
  font-size: 20pt;
  color:#302D2A;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
}

.buttonHouse{
  width: 100%;
  margin: 0 auto;
}

.downloadButton{
  float: right;
}

.EAButton{
  float: left;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: pink;
  border-color: pink;
}

.titleButton {
    width: 180px;
}
